.mainBodylight{
  display:flex;
  flex-direction: row;
  border-style: solid;
  box-sizing: border-box;
  height:100vh;
}
.mainBodyblack{
  display:flex;
  flex-direction: row;
  border-style: solid;
  box-sizing: border-box;
  height:100vh;
}
.gridBox {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
  
}
