.tokenListInfo {
  display: flex;
  min-height: 5rem;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.tokenName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}
.tokenAddress {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 0.7rem;
}