.tokenBody{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.tokenGrid {
  height: 100%;
  width: 100%;
  grid-template-rows: 79px 107px repeat(2, 1fr) 422px;
  grid-template-columns: 519px repeat(3, 1fr) 623px;
}

