@import '../../styles/font.css';

.tokenInfo {
  display: flex;
  flex-direction: column;
}

.tokenInfoLight{
  background-color: #FEFEFE;
}
.tokenInfoDark{
  background-color: #182633;
}

.tokenSocialInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height:4.9rem;
}

.tokenMarktetInfo {
  width: 100%;
  height: 100%;
  height: 4.9rem;
  display: flex;
  flex-direction: row;
  padding:0.5rem 0rem 0.5rem 1.5rem;
}

.socialUrl {
  width: 30px;
  cursor: pointer;
}

.tokenName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
}

.tokenBalance {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.2rem + 0.5vw);
  line-height: 0.8rem;
}

.tokenPrice {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
}

.tokenAddress {
  font-family: 'Inter';
  font-style: normal;
  font-size: 0.7rem;
  line-height:1.5rem;
  color: #A7A7A7;  
  margin-right:0.3rem;
}

.tokenBlance {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: calc(0.2rem + 0.5vw);
  line-height: 0.8rem;
  margin-right: 5px;
}

.totalSupply {
  font-family: 'Inter';
  font-style: normal;
  font-size: 0.9rem;
}

.tokenTotalSupply {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
}

.marketCap {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}

.tokenMarketCap {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.holder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  color:#A7A7A7;

}

.tokenLPName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.2rem + 0.5vw);
  line-height: 0.8rem;  
  margin-bottom: 10px;
}

.tokenBNBAmount {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: calc(0.2rem + 0.5vw);
  line-height: 0.8rem;  
  margin-bottom: 10px;
  margin-right: 5px;
}

.tokenLPTokenHolder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: calc(0.2rem + 0.5vw);
  line-height: 0.8rem;  
}

.tokenContract {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: calc(0.2rem + 0.5vw);
  line-height: 0.8rem;  
}

.border {
  height: 80%;
  border-width: 0.5px;
  margin-right: 1rem;
}

.switch {
  font-family: 'Inter';
  font-style: normal;
  font-size: calc(0.1rem + 0.5vw);  
  color:#A7A7A7;
}

.itemvalue {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.8rem;
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 600px) {

  .tokenName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .tokenAddress {
    font-family: 'Inter';
    font-style: normal;
    font-size: 0.5rem;
    line-height:1.5rem;
    color: #A7A7A7;  
    margin-right:0.3rem;
  }

  .marketCap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  .tokenMarketCap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }  

  .itemvalue {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: row;
  }  
  
  .tokenPrice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
  }


  .tokenTotalSupply {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
  }  
}

@media only screen and (max-width: 1700px) {

  .tokenName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .tokenAddress {
    font-family: 'Inter';
    font-style: normal;
    font-size: 0.6rem;
    line-height:1.5rem;
    color: #A7A7A7;  
    margin-right:0.3rem;
  }

  .marketCap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  .tokenMarketCap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }  

  .itemvalue {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1.4rem;
    display: flex;
    flex-direction: row;
  }  
  
  .tokenPrice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
  }


  .socialUrl {
    width: 25px;
    cursor: pointer;
  }  

  .tokenSocialInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:4rem;
  }  


  .tokenMarktetInfo {
    width: 100%;
    height: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    padding:0.5rem 0rem 0.5rem 1.5rem;
  }  

  
  .tokenTotalSupply {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1200px) {
  
  .tokenSocialInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:5.5rem;
  }  

  .tokenName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .tokenPrice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }  
}