.menuBar{
  display:flex;
  flex-direction: column;
  min-width: 5.4rem;
  height: 100%;
  align-items:center;
}

.menuImg {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.menuBarLight {
  background-color: #0085FF;

}
.menuBarDark {
  background-color: #121212;
}


@media only screen and (max-width: 600px) {
  .menuBar{
    display:flex;
    flex-direction: column;
    min-width: 3rem;
    height: 100%;
    align-items:center;
  }
}

@media only screen and (max-width: 1700px) {
  .menuBar{
    display:flex;
    flex-direction: column;
    min-width: 4.5rem;
    height: 100%;
    align-items:center;
  }
}