.menuBar{
  display:flex;
  flex-direction: column;
  min-width: 104px;
  min-height: 65px;
  align-items:center;
}

.menuImg {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.menuBarLight {
  background-color: #0085FF;

}
.menuBarDark {
  background-color: #121212;
}