@import '../../styles/font.css';

.tokenList {
  height: 100%;
  /* width: 519px; */
  min-width: 519px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tokenListLight {
  background-color: #FBFBFB;
}
.tokenListDark {
  background-color: #232323;
}
.tokenSearch {
  width: 90% !important;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 2rem !important;
}
.tokenSearchDark {
  background-color: #424242 !important;
  border-color: #424242 !important;
}
.tokenSearchLight {
  background-color: #ffffff !important;
  border-color: #CFCFCF !important;
}

.tokenListInfo {
  display: flex;
  max-height: 80px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding:1rem 0rem 1rem 0rem;
  text-align: center;
  justify-content: space-around;
  cursor: pointer;
}

/* .tokenListInfo:hover {
  background-color: #3A3A29;
} */
.tokenName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}
.tokenAddress {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

}