@import '../../styles/font.css';

.walletInfo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walletInfoDark {
  background-color: #262626;
}
.walletInfoLight {
  background-color: #FBFBFB;
}
.walletTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  min-height:4.8rem;
}
.walletTitleDark {
  background-color: #121212;
}
.walletTitleLight {
  background-color: #FBFBFB;

}

.walletBalance {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.walletWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 33rem;
}

.tradeWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 33rem;
  margin-top:1.1rem;
}

.tokenSearch {
  margin-top: 1.1rem;
  margin-bottom:0.4rem;
  border-radius: 2rem !important;
}
.tokenSearchDark {
  background-color: #424242 !important;
  border-color: #424242 !important;
}
.tokenSearchLight {
  background-color: #ffffff !important;
  border-color: #CFCFCF !important;
}

.myWallet {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 0.9rem;
}

.myBalance {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #00C514;
}

.tokenName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.tokenBalance {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;  
}

.refreshBtn {
  font-size: calc(0.2rem + 0.5vw);
}

tbody.walletTokenBodyBorderDark th {
  border-color: #303030;
}

tbody.walletTokenBodyBorderLight th {
  border-color: #EFEFEF;
}

thead.walletTokenHeadBorderDark th {
  box-shadow: inset 0 0 0 #000000, inset 0 -2px 0 #505050;
  border-bottom: none !important;
  border-color: #505050;
}

thead.walletTokenHeadBorderLight th {
  box-shadow: inset 0 0 0 #CFCFCF, inset 0 -1px 0 #CFCFCF;
  border-bottom: none !important;
  border-color: #CFCFCF;
}



@media only screen and (max-width: 600px) {
 
  .myWallet {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    margin-right: 0.9rem;
  }

  .myBalance {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #00C514;
  }

}